{% extends '_base.html' %}
{% load static %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var socket = io.connect();

        socket.on('connect', function () {
            socket.emit('my_event', {data: 'I\'m connected!'});
        });
        socket.on('disconnect', function () {
            $('#log').append('<br>Disconnected');
        });
        socket.on('getdata', function (msg) {
            $('#log').append('<br>Received: ' + msg.data);
        });
    });
</script>

{% block title %}Home page{% endblock title %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p id="log" class="lead">Index page.</p>
    </div>
{% endblock content %}
